<html>

<head>
    <title>Nancy's Blog</title>
</head>

<body>
    <div>
        <h1><a href="/">Nancy Blog</a></h1>
    </div>

    <div>
        <p>published: 21.8.2019, 07:11</p>
        <h2><a href=" ">My first post</a></h2>
        <p>This is my first post based on the django girls tutorial</p>
    </div>

    <div>
        <p>published: 21.8.2019, 07:11</p>
        <h2><a href=" ">My second post</a></h2>
        <p>This is my second post based on the django girls tutorial</p>
    </div>
</body>

</html>